<!-- Home Component HTML -->
<div class="home">
    <header>
        <div class="logo">
            <img src="KM.jpg" alt="KM² Architektur Logo">
            <div>
                <h1>KM² architektur</h1>
                <span>Raum für Gestaltung</span>
            </div>
        </div>
        <nav>
            <a href="#">architektur</a>
            <a href="#">projekte</a>
            <a href="#">leistungen</a>
            <a href="biografie">biografie</a>
            <a href="kontakt">kontakt</a>
        </nav>
    </header>

 

  

<!--Timeline section-->
<div class="timeline">
    <div class="timeline-event">
      <div class="event-dot"></div>
      <div class="event-content">geboren in Geislingen a. d. Steige</div>
    </div>
    <div class="timeline-event">
      <div class="event-dot"></div>
      <div class="event-content">Ausbildung zum Schreiner/Tischer</div>
    </div>
    <div class="timeline-event">
      <div class="event-dot"></div>
      <div class="event-content">Bachelor Architektur HFT Stuttgart</div>
    </div>
    <div class="timeline-event">
      <div class="event-dot"></div>
      <div class="event-content">Mitarbeiter Architekturbüro Lothar Müller Geislingen a. d. Steige</div>
    </div>
    <div class="timeline-event">
      <div class="event-dot"></div>
      <div class="event-content">Diplom Architektur FH Kärnten Spittal a. d. Drau (A)</div>
    </div>
    <div class="timeline-event">
      <div class="event-dot"></div>
      <div class="event-content">Mitglied Architektenkammer BW</div>
    </div>
    <div class="timeline-event">
      <div class="event-dot"></div>
      <div class="event-content">Mitarbeiter Wolfgang Ripberger Architekten Schwäb. Gmünd</div>
    </div>
    <div class="timeline-event">
      <div class="event-dot"></div>
      <div class="event-content">Gründung KM² Architektur</div>
    </div>
  </div>
  <footer>
    <p>&copy; 2025 KM² Architektur</p>
</footer>
</div>
