<!-- Home Component HTML -->
<div class="home">
  <header>
    <a href="" class="logo"> <!-- Link zur Startseite -->
        <img src="KM.jpg" alt="KM² Architektur Logo">
        <div>
            <h1>KM² architektur</h1>
            <span>Raum für Gestaltung</span>
        </div>
    </a>
    <nav>
        <a href="#">architektur</a>
        <a href="#">projekte</a>
        <a href="#">leistungen</a>
        <a href="biografie">biografie</a>
        <a href="kontakt">kontakt</a>
    </nav>
</header>

<h2>biografie</h2>

  <!-- Timeline section -->
  <!-- Timeline section -->
<div class="arrow-line-wrapper">
  <div class="arrow-line">
    <!-- Texte über den Strichen -->
    <div class="labels-top">
      <span style="left: 5%;">geboren in<br>Geislingen a. d. Steige</span>
      <span style="left: 15%;">Bachelor Architektur<br>HFT Stuttgart</span>
      <span style="left: 32%;">Diplom Architektur<br/>FH Kärnten Spittal a. d. Drau (A)</span>
      <span style="left: 50%;"> Mitglied<br/>Architektenkammer BW</span>
    
    </div>

    <!-- Vertikale Striche -->
    <div class="vertical-line" style="left: 5%;"></div>
    <div class="vertical-line" style="left: 10%;"></div>
    <div class="vertical-line" style="left: 15%;"></div>
    <div class="vertical-line" style="left: 21%;"></div>
    <div class="vertical-line" style="left: 32%;"></div>
    <div class="vertical-line" style="left: 40%;"></div>
    <div class="vertical-line" style="left: 50%;"></div>
    <div class="vertical-line" style="left: 58%;"></div>
    

    <!-- Pfeil -->
    <div class="arrow"></div>

    <!-- Texte unter den Strichen -->
    <div class="labels-bottom">
      <span style="left: 10%;">Ausbildung zum<br>Schreiner/Tischler</span>
      <span style="left: 21%;"> Mitarbeiter<br/>Architekturbüro<br/>Lothar Müller<br/>Geislingen a. d. Steige</span>
      <span style="left: 40%;">Mitarbeiter<br/>Wolfgang Ripberger Architeken<br/>Schwäb. Gmünd</span>
      <span style="left: 58%;">Gründung<br/><strong>KM² Architektur</strong></span>

      
    </div>
  </div>
</div>


  <footer>
      <p>&copy; 2025 KM² Architektur</p>
  </footer>
</div>
