.arrow-line-wrapper {
  position: relative;
  width: 100%; /* Der Wrapper nimmt die gesamte Breite des Viewports ein */
  overflow-x: auto; /* Aktiviert horizontales Scrollen */
  white-space: nowrap; /* Verhindert, dass Elemente umbrechen */
}

.arrow-line {
  position: relative;
  width: 1500px; /* Die Linie hat eine feste Breite */
  height: 1px; /* Dicke der Linie */
  background-color: black; /* Farbe der Linie */
  margin: 300px auto; /* Zentrierung */

}

.arrow-line .arrow {
  position: absolute;
  right: 0; /* Der Pfeil bleibt am rechten Ende */
  top: -6px; /* Vertikale Ausrichtung */
  width: 12px; /* Pfeil-Breite */
  height: 12px; /* Pfeil-Höhe */
  border: solid black; /* Farbe des Pfeils */
  border-width: 0 2px 2px 0; /* Diagonale Linien */
  transform: rotate(-45deg); /* Neigung des Pfeils */
}

.vertical-line {
  position: absolute;
  top: -20px; /* Position relativ zur horizontalen Linie */
  width: 1px; /* Breite der vertikalen Linie */
  height: 40px; /* Höhe der vertikalen Linie */
  background-color: black; /* Farbe der Linie */
}

.labels-top span,
.labels-bottom span {
  position: absolute;
  transform: translateX(-50%); /* Zentriert die Labels */
  font-size: 15px; /* Schriftgröße */
  text-align: center;
}

.labels-top span {
  top: -70px; /* Position über der Linie */
}

.labels-bottom span {
  top: 50px; /* Position unter der Linie */
}


  h2 {
    text-align: left; /* Links ausrichten */
    font-family: 'Courier New', monospace; /* Gleiche Schriftart wie Kontakt */
    margin: 0 0 2rem 0; /* Abstand unten hinzufügen */
    padding-left: 5%; /* Gleicher linker Abstand wie die Timeline */
    font-size: 1.5rem; /* Einheitliche Größe */
    color: #474544; /* Gleiche Farbe wie andere Texte */
    margin-top: 7%;
}

