<div class="home">
    <header>
        <a href="#" class="logo">
            <img src="KM.jpg" alt="KM² Architektur Logo">
            <div>
                <h1>KM² architektur</h1>
                <span>Raum für Gestaltung</span>
            </div>
        </a>
        <!-- Burger-Menü für Mobile -->
        <div class="burger-menu" (click)="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <!-- Navigation -->
        <nav [class.open]="isMenuOpen">
            <a href="#">architektur</a>
            <a href="#">projekte</a>
            <a href="#">leistungen</a>
            <a href="biografie">biografie</a>
            <a href="kontakt">kontakt</a>
        </nav>
    </header>

    <main>
        <div class="quote">
            <h2>„Zum Wohnen gelangen wir durch das Bauen, durch das Herstellen von Dingen, durch das Schaffen von Orten. Es sind die Orte, die die Räume zum Wohnen eröffnen.“</h2>
            <p>Zitat: Martin Heidegger „Bauen Wohnen Denken“</p>
        </div>
    </main>

    <footer>
        <p>&copy; 2025 KM² Architektur</p>
    </footer>
</div>
