<div class="home">
    <header>
        <a href="" class="logo"> <!-- Link zur Startseite -->
            <img src="KM.jpg" alt="KM² Architektur Logo">
            <div>
                <h1>KM² architektur</h1>
                <span>Raum für Gestaltung</span>
            </div>
        </a>
        <nav>
            <a href="#">architektur</a>
            <a href="#">projekte</a>
            <a href="#">leistungen</a>
            <a href="biografie">biografie</a>
            <a href="kontakt">kontakt</a>
        </nav>
    </header>

    <main>
        <h2>kontakt</h2>

        <div class="contact-content">
            <!-- Kontakt-Komponente -->
            <div class="contact-details">
                <h3>KM² architektur</h3>
                <p>
                    Dipl.Ing. Architekt<br>
                    Martin Sebastian Kittel-Messner<br>
                    Kahlenbergstraße 27<br>
                    73337 Bad Überkingen<br><br>
                    <a href="http://www.kmzwei.de" target="_blank">www.kmzwei.de</a><br>
                    <a href="mailto:kmzwei@outlook.de">kmzwei&#64;outlook.de</a>
                </p>
            </div>

            <!-- Bild-Komponente -->
            <div class="image">
                <img src="Sebastian.jpg" alt="Bild">
            </div>

            <!-- Zitat-Komponente -->
            <div class="quote-container">
                <p>
                    Der Kopf hinter all dem. Architektur im ganzen Denken. Von der ersten Idee bis zum 
                    Erleben des Raumes.
                </p>

                <p>
                    Lassen Sie uns gemeinsam Räume schaffen, die Ihre Persönlichkeit widerspiegeln und beeindrucken. 
                    Kontaktieren Sie uns und starten wir Ihr nächstes Projekt – wir freuen uns darauf, Ihre Ideen 
                    Wirklichkeit werden zu lassen!
                </p>

                <!-- Button zur Kontaktaufnahme -->
                <div class="contact-button">
                    <button class="button-89" role="button">Kontakt aufnehmen</button>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <p>&copy; 2025 KM² Architektur</p>
    </footer>
</div>
